body {
  background-color: aliceblue ;
}

.title{
    background-color: tomato;
  text-align: center;
  
  border-style: outset;
  border-width: medium;
margin: 5px;
    border-radius: 12px;
}

.intro{
  color:black;
    border-style: outset;
    margin-right:auto;
    width: 50%;
    background-color: lightgray;
}

.pro_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
}