.outline {
  color: LightGray;
}

.title{
  text-align: center;
  color: Tomato;
  border-style: outset;
  border-width: medium;

}

.pro_pic{
  margin-right: 200px;
  text-align: center;

}

.intro{
  color:DodgerBlue;
}
